<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Reverse Proxy" stopProcessing="true">
          <match url="^api/(.*)" />
      	  <action type="Rewrite" url="http://orchestration-internal-orchestration-internal-dev.apps.cloudapps-nonprod.ntl.co.th/{R:1}" />
        </rule>

        <rule name="Static Assets" stopProcessing="true">
          <match url="([\S]+[.](html|htm|svg|js|css|png|gif|jpg|jpeg))" />
          <action type="Rewrite" url="/{R:1}" />
        </rule>

        <rule name="React-Router" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
        <defaultDocument>
            <files>
                <remove value="active.html" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>